.layouts-event-list {
    .l-event-details {
        svg, p {
            font-size: 0.95rem;
            color: rgb(144, 142, 142);
            display: inline; 
        }

        svg {
            margin-right: 0.25rem;
        }
    }
}